<div class="relative flex">
  <!--   <app-sidebar></app-sidebar> -->
  <div class="flex-1 flex flex-col bg-gradient-to-br from-black to-[#121286]">
    <!--     <app-searchbar></app-searchbar> -->

    <div
      class="px-6 h-[calc(100vh-72px)] overflow-y-scroll hide-scrollbar flex xl:flex-row flex-col-reverse"
    >
      <div class="flex-1 h-fit pb-40">
        <router-outlet></router-outlet>
      </div>
      <div class="xl:sticky relative top-0 h-fit">
        <!--         <app-top-play></app-top-play> -->
      </div>
    </div>
  </div>

  <div
    *ngIf="activeSong?.title"
    class="absolute h-28 bottom-0 left-0 right-0 flex animate-slideup bg-gradient-to-br from-white/10 to-[#2a2a80] backdrop-blur-lg rounded-t-3xl z-10"
  >
    <!--     <app-music-player></app-music-player> -->
  </div>
</div>
